<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Submit</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>


</head>
<style>
    body {
        background: #007bff;
        background: url("https://images.alphacoders.com/786/786599.png");
    }

    .bg-image {
        background-image: url('https://w0.peakpx.com/wallpaper/268/77/HD-wallpaper-astronaut-in-space-minimal-planet-galaxy-nasa-astronaut-on-planet-astronaut.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>


<body>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0 fixed-top">
    <div class="container">
        <a class="navbar-brand">Space Ambient</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item px-2">
                    <a href="/artists" class="nav-link active">Artists</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/new-releases" class="nav-link">New Releases</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/about" class="nav-link">About</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/submit" class="nav-link">Submit</a>
                </li>
            </ul>

        </div>
    </div>
</nav>


<!-- Contact Form -->

<div class="container-fluid px-5 my-5">
    <div class="row justify-content-center">
        <div class="col-xl-10">
            <div class="card border-0 rounded-3 shadow-lg overflow-hidden">
                <div class="card-body p-0">
                    <div class="row g-0">
                        <div class="col-sm-6 d-none d-sm-block bg-image"></div>
                        <div class="col-sm-6 p-4">
                            <div class="text-center">
                                <div class="h3 fw-light">Submission Form</div>
                                <p class="mb-4 text-muted">Please attach your track link in the messages</p>
                            </div>


                            <form id="contactForm">

                                <!-- Name Input -->
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="name" type="text" placeholder="Name" />
                                    <label for="name">Name</label>
                                </div>

                                <!-- Email Input -->
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="emailAddress" type="email" placeholder="Email Address"  />
                                    <label for="emailAddress">Email Address</label>
                                </div>

                                <!-- Message Input -->
                                <div class="form-floating mb-3">
                                    <textarea class="form-control" id="message" type="text" placeholder="Message" style="height: 10rem;"></textarea>
                                    <label for="message">Message</label>
                                </div>

                                <!-- Submit button -->
                                <div class="d-grid">
                                    <button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Submit</button>
                                </div>
                            </form>
                            <!-- End of contact form -->

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>






</body>